<div class="container">
    <div class="row pt-3 justify-content-center">
        <div class="col-12">
            <div class="card card-default">
                <div class="card-header">
                    <h5>ثبت تراکنش جدید</h5>
                </div>
                <div class="card-body">
                    <form class="form-horizontal" method="POST" action="/transactions/add" novalidate>
                        <!-- <div class="form-group">
                            <label for="unit_number" class="control-label">شماره واحد</label>
                            <input id="unit_number" type="number" class="form-control" name="unit_number" required>
                        </div>

                        <div class="form-group">
                            <label for="floor" class="control-label">طبقه</label>
                            <input id="floor" type="text" class="form-control" name="floor" required>
                        </div>

                        <div class="form-group">
                            <label for="meterage" class="control-label">متراژ</label>
                            <input id="meterage" type="number" class="form-control" name="meterage" required>
                        </div>

                        <div class="form-group">
                            <label for="has_parking" class="control-label">دارای پارکینگ</label>
                            <input id="has_parking" type="checkbox" class="form-control" name="has_parking" required>
                        </div>

                        <div class="form-group">
                            <label for="has_warehouse" class="control-label">دارای انباری</label>
                            <input id="has_warehouse" type="checkbox" class="form-control" name="has_warehouse" required>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">ثبت</button>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>