<div class="container">
    <div class="row pt-3">
        <div class="col-6">
            <h3>لیست تراکنش ها</h3>
        </div>
        <div class="col-6 text-left">
            <a class="btn btn-primary" href="/transactions/add" role="button">+ افزودن تراکنش جدید</a>
        </div>
    </div>
</div>