<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>نرم افزار مدیریت مالی ساختمان سماء</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- CSS (includes Bootstrap)-->
    <link rel='stylesheet' href="/css/bootstrap.min.css">
    <link rel='stylesheet' href="/css/bootstrap-rtl.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <link rel='stylesheet' href="/css/vazir.css">
    <link rel='stylesheet' href="/css/admin.css">
    <link rel="stylesheet" href="/css/styles.css" />

    <%- style %>

</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">
                <p class="list-group-item " href="/">ساختمان سماء</p>
            </div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-info">عملیات</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/units">واحدها</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/categories">سرفصل های
                    مالی</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/transactions">تراکنش
                    ها</a>
                <a class="list-group-item list-group-item-info">گزارشات</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/reports/balance">تراز
                    مالی</a>
            </div>
        </div>

        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <button class="navbar-toggle" id="sidebarToggle"><span class="navbar-toggler-icon"></span></button>
                </div>
            </nav>

            <%- body %>

        </div>ّ
    </div>


    <!-- JS -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/scripts.js"></script>
    <%- script %>
</body>

</html>